<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recognized Plates</title>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='car_background.jpg') }}");
            /* background-image: url("car_background.jpg"); */
            background-color: rgba(0, 0, 0, 0.5);
            background-blend-mode: multiply;
        }
        h1 {
            color: white;
            text-align: center;
        }
        table{ color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
    }

    </style>

</head>

<body>
    <h1>History of prevoius 24 hours</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Plate Number</th>
                <th>Owner Name</th>
                <th>Make</th>
                <th>Model</th>
                <th>Color</th>
                <th>Time Stamp</th>

            </tr>
        </thead>

        <tbody>
            {% for record in data %}
            <tr>
                <td>{{ record.plate_number }}</td>
                <td>{{ record.owner_name }}</td>
                <td>{{ record.make }}</td>
                <td>{{ record.model }}</td>
                <td>{{ record.color }}</td>
                <td>{{ record.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>