<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>License Plate Scanner</title>
    <style>
        body {
            background-image: url("car_background.jpg");
            background-color: rgba(0, 0, 0, 0.5);
            background-blend-mode: multiply;
        }
        /* h1{background-color: #d0bdf4; */
        h1 {
            color: white;
            text-align: center;
        }
    </style>


</head>

<body>
    <div>
        <h1>License Plate Scanner</h1>
    </div>
    <img src="{{ url_for('video_feed') }}" alt="License Plate Scanner">

    ]
    <div>
        <a href="http://127.0.0.1:5000/recognized_plates" target="_blank">Click here to view recognized plates</a>

    </div>
</body>

</html>