<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle</title>
</head>
<body>
    <!-- <frameset border="5";cols="40%,60%">
        <frame src="index2.html" name="left">
            <frame src="recognized_plates.html" name="right">
        </frame>
    </frameset> -->


    <frameset rows="10%,90%">

        <!-- <frameset cols="100%"> -->
        <frame name="top" src="top.html">
            <!-- </frameset> -->
    
            <frameset cols="40%,60%">
                <frame src="index2.html" name="left"></frame>
                <frame src="recognized_plates.html" name="right"></frame>
            </frameset>
    </frameset>
    
</body>
</html>